body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* TableCreation */
table {
  text-align: left;
}
th, td {
  padding: 5px 10px;
  border: 1px solid #fff;
}


/* states-intro */
.states-intro button {
  display: inline-block;
  margin: 5px;
}

/* simple todo */
.listRm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
}
.listRm button {
  width:  80px;
  height: 30px;
}
